{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_re.css' %}">
    <div class="login_display">
        <a href="https://dream2030.co.kr/"><img src="{% static 'main/광고.png' %}" style="width:65rem; height:12rem;"></a>
        <div class="login_content">
            {% if request.user.is_authenticated %}
                <ul class="login_accept">
                    {% if request.user.is_authenticated %}
                        <li>
                            {% if request.user.profile.profile_img %}
                                <img src="{{ profile.profile_img.url }}" alt="" style="width:10rem; height:12rem;">
                            {% else %}
                                <img src="{% static 'profile/noimg.jpg' %}" alt="" style="width:10rem; height:12rem;">
                            {% endif %}
                        </li>
                        <li style="font-size:12px;">
                            <p></p>
                            {{ request.user.username }}
                            {% if request.user.company_number %}
                                (기업 회원)
                            {% endif %}
                            <p></p>
                            <a href="{% url 'accountapp:update_user' pk=request.user.pk %}">정보 변경</a> /
                            <a href="{% url 'accountapp:delete_user' pk=request.user.pk %}">아이디 삭제</a>
                            <p></p>
                            <a href="{% url 'profileapp:update_profile' pk=request.user.pk %}">프로필변경</a>
                            <a href="{% url 'profileapp:delete_profile' pk=request.user.pk %}">프로필삭제</a>
                            <p></p>
                            <a href="{% url 'accountapp:update_user' pk=request.user.pk %}">메세지함</a>
                            <p></p>
                            <a href="{% url 'accountapp:update_user' pk=request.user.pk %}">이력서관리</a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <div class="login_button">
                    <a href="{% url 'accountapp:login' %}" style="color:#FFFFFF;">로그인</a>
                </div>
                <p></p>
                <div class="login_button2">
                    <a href="{% url 'accountapp:create_user' %}" style="color:#FFFFFF;">개인 회원가입</a>
                    &nbsp; / &nbsp;
                    <a href="{% url 'accountapp:create_company_user' %}" style="color:#FFFFFF;">기업 회원가입</a>
                </div>
                <div class="font_data2">
                    PICKME
                </div>
            {% endif %}
        </div>
    </div>

    <div class="middle_content">
        <div class="search_content">
            <p></p>
            {% for list in answer_list %}
                <a href="{% url 'resumeapp:detail_resume' title=list.0.pk pk=request.user.pk %}">
                    <ul class="mini_content" style="color:#000000;">
                        <li>
                            <div>
                                조OO
                                <p></p>
                                (남 | 1999년, 24세)
                            </div>
                        </li>
                        <li>
                            <div style="margin-left:3rem;">
                                <span style="font-size:2rem; font-weight:bold;">
                                    {{ list.1 }}
                                </span>
                                <p></p>
                                직무기술 :
                                <p></p>
                                학교명 : {{ list.3 }} <span class="information_css">졸업</span>
                                <p></p>
                                <span style="font-size:15px;">
                                    희망지역 : {{ list.5 }},{{ list.6 }},{{ list.7 }} | 즉시근무가능 | 희망연봉 : {{ list.4 }}
                                    <p></p>
                                    희망직종 : {{ list.8 }} | {{ list.9 }} | {{ list.10 }}
                                </span>
                            </div>
                        </li>
                        <li style="margin-left:auto;">
                            {{ list.2|date:"Y-m-d" }}
                        </li>
                    </ul>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}