<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'css/company_create.css' %}">
    <title>Title</title>
</head>
<body>
    <div style="text-align:center; max-width:500px; margin:4rem auto;">
        <h3 style="font-weight:bold;">
            SIGN UP (Company)
        </h3>
        <form action="{% url 'accountapp:create_company_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 style="font-weight:bold;">
                기업정보
            </h5>
            <p></p>
            <select name='company_group' style="width:500px;height:50px;color:#8C8C8C;" required>
                <option value='' selected>-- 기업형태 --</option>
                <option value='대기업'>대기업</option>
                <option value='대기업 계열사·자회사'>대기업 계열사·자회사</option>
                <option value='중소기업(300명이하)'>중소기업(300명이하)</option>
                <option value='중견기업(300명이상)'>중견기업(300명이상)</option>
                <option value='벤처기업'>벤처기업</option>
            </select>
            <p></p>
            <input type="number" name="company_num" placeholder="회사번호" style="width:500px;height:50px;" class="company_num_css" maxlength="13" required>
            <p></p>
            <ul class="company_ul">
                <li>
                    <input type="text" name="company_name" placeholder="회사명" style="width:380px;height:50px;" required>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li>
                    <input type="text" name="company_ceo" placeholder="대표자명" style="width:100px;height:50px;" required>
                </li>
            </ul>
            <p></p>
            <div style="width:500px;height:25px;text-align:left;color:#8C8C8C;">
                기업로고 : <input type="file" name="company_logo" placeholder="회사로고" class="company_num_css" required>
            </div>
            <p></p>
            <input type="number" name="company_phone_number" placeholder="회사 전화번호" style="width:500px;height:50px;" class="company_num_css" maxlength="13" required>
            <hr>
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
    </div>

    <div style="text-align:center;">
        <div class="footer_label">
            공지사항 ㅣ 제휴문의 ㅣ 서비스 소개
        </div>
        <div class="footer_logo" style="margin-top: 1rem;">
            <img src="{% static 'main/PICKME.jpg' %}" width="300" height="100">
        </div>
    </div>
</body>
</html>