<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ target_user.username }}
    <p></p>
    {{ target_user.nickname }}
    <p></p>
    {% if request.user == target_user %}
        <a href="{% url 'accountapp:update_user' pk=target_user.pk %}">정보 변경</a>
        <a href="{% url 'accountapp:delete_user' pk=target_user.pk %}">삭제</a>
        <p></p>
        <a href="{% url 'profileapp:create_profile' pk=target_user.pk %}">프로필생성</a>
        <a href="{% url 'profileapp:update_profile' pk=target_user.pk %}">프로필변경</a>
        <a href="{% url 'profileapp:delete_profile' pk=target_user.pk %}">프로필삭제</a>
        <p></p>
    {% endif %}
    {% if profile %}
        {{ profile.profile_text }}
        <p></p>
        <img src="{{ profile.profile_img.url }}" alt="" width="300" height="300" style="border-radius: 20px;">
    {% endif %}
</body>
</html>