{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <form action="{% url 'profileapp:detail_user_update' pk=1 %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile_box" background="#00FF00;">
            {% if target_user.profile.profile_img %}
                <img src="{{ profile.profile_img.url }}" alt="" width="200" height="250">
            {% else %}
                <img src="{% static 'profile/no_img2.PNG' %}" alt="" width="200" height="250">
            {% endif %}
            <div class="profile_create">
                <input type="file" name="file" accept="image/*" id="bizFile" style="display:none;">
                <label for="bizFile" style="color:#EAEAEA;">
                    이미지 등록
                    <span id="fileName" style="font-size:0.5rem;"></span>
                </label>
            </div>
            <div class="profile_read">
                <input type="submit" name="resume_submit2" id="submit2" style="display:none;">
                <label for="submit2" style="color:#0054FF;">
                    저장
                </label>
            </div>
            <div class="profile_delete">
                <input type="submit" name="resume_submit3" id="submit3" style="display:none;">
                <label for="submit3" style="color:#FF0000;">
                    삭제
                </label>
            </div>
            <div class="mini_profile_box">
                <table border="0" width="500" height="400" class="position_select_table">
                    <tr>
                        <td style="border-bottom:1px solid gray;">
                            이름
                        </td>
                        <td style="border-bottom:1px solid gray;">
                            <span style="color:#FF0000; font-size:1.25rem;">*</span>
                            <i style="vertical-align:middle; font-size:1rem;" class="material-icons">border_color</i>
                            &nbsp;
                            <input type="text" name="user_name" value="{{ profile.user_name }}" style="border:none; background:#B1B1B1;">
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px solid gray;">
                            <span style="color:#FF0000; font-size:1.25rem;">*</span>
                            생년월일(양력)
                        </td>
                        <td style="border-bottom:1px solid gray;">
                            <i style="vertical-align:middle; font-size:1rem;" class="material-icons">border_color</i>
                            &nbsp;
                            <input type="text" name="user_birthday" value="{{ profile.user_birthday }}" placeholder="생년월일" maxlength='8' style="border:none; background:#B1B1B1;">
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px solid gray;">
                            <span style="color:#FF0000; font-size:1.25rem;">*</span>
                            성별
                        </td>
                        <td style="border-bottom:1px solid gray;">
                            <i style="vertical-align:middle; font-size:1rem;" class="material-icons">border_color</i>
                            &nbsp;
                            {{ profile.user_gender }}
                            &nbsp;
                            <input type="radio" name="gender" value="남자" checked>남자
                            <input type="radio" name="gender" value="여자">여자
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px solid gray;">
                            연락처
                        </td>
                        <td style="border-bottom:1px solid gray;">
                            <i style="vertical-align:middle; font-size:1rem;" class="material-icons">border_color</i>
                            &nbsp;
                            <input type="text" name="user_number" value="{{ profile.phone_number }}" placeholder="연락처" style="border:none; background:#B1B1B1;">
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px solid gray;">
                            이메일
                        </td>
                        <td style="border-bottom:1px solid gray;">
                            <i style="vertical-align:middle; font-size:1rem;" class="material-icons">border_color</i>
                            &nbsp;
                            <input type="text" name="user_email" value="{{ profile.user_email }}" placeholder="email" style="border:none; background:#B1B1B1;">
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px solid gray;">
                            홈페이지
                        </td>
                        <td style="border-bottom:1px solid gray;">
                            <i style="vertical-align:middle; font-size:1rem;" class="material-icons">border_color</i>
                            &nbsp;
                            <input type="text" name="user_page" value="{{ profile.user_page }}" placeholder="홈페이지" style="border:none; background:#B1B1B1;">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="profile_basic_submit">
            <input type="submit" name="resume_submit1" id="basic_submit" style="display:none;">
            <label for="basic_submit">기본정보 저장</label>
        </div>
        <div class="profile_basic_submit2">
            <input type="submit" name="resume_submit4" id="basic_submit2" style="display:none;">
            <label for="basic_submit2">기본정보 공개</label>
        </div>
        <div class="profile_basic_submit3">
            <input type="submit" name="resume_submit5" id="basic_submit3" style="display:none;">
            <label for="basic_submit3">기본정보 비공개</label>
        </div>
    </form>

    <div class="user_detail_content">
        <a href="{% url 'accountapp:update_user' pk=1 %}">계정 변경</a> /
        <a href="{% url 'accountapp:delete_user' pk=1 %}" style="color:#FF0000;">계정 삭제</a>
        <p></p>
        <a href="{% url 'accountapp:detail_user' pk=1 %}">프로필변경</a>
        <p></p>
        나의 이력서
        <a href="{% url 'resumeapp:list_resume' title=0 pk=1 %}">
            {{ resume_num }}
        </a>
        <p></p>
        <a href="{% url 'messageapp:message_content' pk=1 %}">
            <span>메세지함</span>
        </a>
        <p></p>
        <span class="self_apeal_create" style="border-radius: 10px">
            <a href="{% url 'resumeapp:resume_resume2' school=1 school_major4=1 career=0 out_play=0 prize_play=0 port_polio=0 self_introduce=0 pk=1 %}">이력서 만들기</a>
        </span>
    </div>

    <script type="text/javascript" src="{% static 'js/detail_user.js' %}"></script>

{% endblock %}


<!--<ul>-->
<!--                <li>-->
<!--                    생년월일-->
<!--                </li>-->
<!--                <li>-->
<!--                    <input type="text" name="user_name" required> 양력 남자 여자-->
<!--                </li>-->
<!--            </ul>-->
<!--            <hr>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    연락처-->
<!--                </li>-->
<!--                <li>-->
<!--                    <input type="text" name="user_name" required>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <hr>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    이메일-->
<!--                </li>-->
<!--                <li>-->
<!--                    <input type="text" name="user_name" required>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <hr>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    주소-->
<!--                </li>-->
<!--                <li>-->
<!--                    <input type="text" name="user_name" required>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <hr>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    홈페이지-->
<!--                </li>-->
<!--                <li>-->
<!--                    <input type="text" name="user_name" required>-->
<!--                </li>-->
<!--            </ul>-->


<!-- 이 페이지의 맨 윗줄에 추가 <link rel="stylesheet" href="{% static 'detail_user' %}">-->
<!--    <style>-->
<!--        .user_detail_content {-->
<!--            background-image:url("{% static 'detail_user/content_bg.PNG' %}");-->
<!--            background-repeat:no-repeat;-->
<!--        }-->
<!--    </style>-->