.font_data {
    font-family: 'Monoton', cursive;
}

.base_line_css {
    width: 85rem;
    margin:auto;
}

.pragmatic_footer {
    text-align:center;
}

.base2_main_background_css {
    width:100%;
    height:100%;
    background:#EAEAEA;
}