* {
    font-family: 'Noto Sans KR', sans-serif;

}

a {
    color:#000000;
}

.board_content {
    width:85rem;
    height:70vh;
    display:flex;
}

.board_menu {
    width:15rem;
    height:70vh;
    border-right:1px solid black;
}

.board_list {
    width:70rem;
    height:70vh;
}

.board_push {
    font-size:1.2rem;
    padding:0.5rem 0.8rem;
    background:#D4D4D4;
    color:#FFFFFF;
}

.major_button_plus {
    font-size:1.2rem;
    padding:0.2rem 3rem;
    background:#8C8C8C;
    color:#EAEAEA;
    border:none;
    margin-left:76.8rem;
}

.board_main {
    display:flex;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.self_margin {
    width:5rem;
    height:1rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* board_write.css */ /* board_detail.css */

.board_list2 {
    width:70rem;
    height:70vh;
}

.board_list2 > div {
    display:flex;
}
