* {
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    width: 85rem;
    margin:auto;
}

.content > a {
    color:#000000;
}

.mini_content {
    display:flex;
}

.mini_content > li{
    flex:1;
    list-style:none;
}

.date_css {
    margin-left:auto;
    width:10rem;
}

.mini_ul {
    display:flex;
}

.mini_ul > li {
    flex:1;
    list-style:none;
}

.open_green_box{
    border:none;
    font-weight:bold;
    background:#ABF200;
    width:3.5rem;
    height:1.5rem;
    border-radius:10px;
}

.open_green {
    color:#1DDB16;
}

.open_red_box{
    border:none;
    font-weight:bold;
    background:#F15F5F;
    width:3.5rem;
    height:1.5rem;
    border-radius:10px;
}

.open_red {
    color:#CC3D3D;
}

.open_blue_box{
    border:none;
    font-weight:bold;
    background:#B2CCFF;
    width:3.5rem;
    height:1.5rem;
    border-radius:10px;
}

.open_blue {
    color:#6799FF;
}