* {
    font-family: 'Noto Sans KR', sans-serif;

}

a {
    color:#000000;
}

.message_content {
    width:85rem;
    height:70vh;
    display:flex;
}

.message_menu {
    width:15rem;
    height:70vh;
    border-right:1px solid black;
}

.message_list {
    width:70rem;
    height:70vh;
}

.message_push {
    font-size:0.8rem;
    padding:0.2rem 0.3rem;
    background:#D4D4D4;
    color:#FFFFFF;
}

.message_main {
    display:flex;
}

.major_button_plus {
    font-size:1.2rem;
    padding:0.2rem 3rem;
    background:#8C8C8C;
    color:#EAEAEA;
    border:none;
    margin-left:76.8rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.self_margin {
    width:5rem;
    height:1rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* message_write.css */ /* message_detail.css */

.message_list2 {
    width:70rem;
    height:70vh;
}

.message_list2 > div {
    display:flex;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.flex_zone {
    display:flex;
}
.flex_zone div {
    flex:1;
}

.company_group {
    color:rgba(255, 0, 0, 0.6);
    border:1px solid red;
    border-radius:5px;
    padding:0.1rem 0.5rem;
}

.flex_zone2 {
    display:flex;
    margin:auto;
}

.propose_accept {
    border:1px solid blue;
    border-radius:5px;
    padding:0.1rem 0.5rem;
}

.propose_del {
    border:1px solid red;
    border-radius:5px;
    padding:0.1rem 0.5rem;
}
