* {
    font-family: 'Noto Sans KR', sans-serif;
}
.message_content {
    width:85rem;
    height:70vh;
    display:flex;
}

.message_menu {
    width:15rem;
    height:70vh;
    border-right:1px solid black;
}

.message_list {
    width:70rem;
    height:70vh;
}

.message_push {
    font-size:0.8rem;
    padding:0.2rem 0.3rem;
    background:#D4D4D4;
    color:#FFFFFF;
}

.message_main {
    display:flex;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.self_margin {
    width:5rem;
    height:1rem;
}