
.resume_content {
    position: absolute;
    margin-left: 100px;
    top: 50px;
}
.resume_button {
    position: absolute;
    margin-left: 720px;
    top: 50px;
}
.resume_name {
    position: absolute;
    margin-left: 0px;
    top: 25px;
}