* {
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    width: 85rem;
    margin-left: 1rem;
    font-size:30px;
    font-weight:bold;
    background:#F6F6F6;
}

.content input {
    border-color:#F6F6F6;
    background:#FFFFFF;
}

.content select {
    border-color:#A2A2A2;
    background:#FFFFFF;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.wrap {
	line-height: 66px;
}

.wrap a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 7.25rem;
}

.wrap a.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.wrap a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.major_plus_button {
    position: relative;
    top: 24rem;
    margin-left: 28.5rem;
}

.major_button_plus {
    border:none;
    font-weight:bold;
    background:#A6A6A6;
    padding: 10px 3rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 전체적인 클래스 css */

.title_css {
    margin-left: 40px;
}

.school_css {
    margin-left: 102px;
}

.field_css {
    margin-left: 130px;
}

.time1_css {
    margin-left: 75px;
}

.file_margin {
    margin-left: 2.5rem;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 고등학교 클래스 css */

.high_major_css {
    margin-left: 67px;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 대학 클래스 css */

.university_year_css {
    margin-left: 130px;
}

.university_major_css {
    margin-left: 130px;
}

.university_major_detail_css {
    margin-left: 76px;
}

.university_week_css {
    margin-left: 91px;
}

.university_score_css {
    margin-left: 130px;
}

.university_final_test_css {
    margin-left: 8px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.submit_button {
    text-align:center;
}

.submit_button_css1 {
    border:none;
    font-weight:bold;
    background:#A6A6A6;
    padding: 10px 3rem;
}

.resume_add {
    position: fixed;
    top: 10rem;;
    margin-left: 75rem;
    width:20rem;
    height:25rem;
    font-size:20px;
    font-weight:bold;
    background:#D5D5D5;
    border-radius: 10px;
}

.resume_add_title {
    margin-top: 1rem;
}

.resume_add_button_plus1 {
    border:none;
    font-weight:bold;
    background:#A6A6A6;
    padding: 10px 1rem;
    border-radius: 10px;
    margin-left: 8rem;
}

.resume_add_button_plus2 {
    border:none;
    font-weight:bold;
    background:#A6A6A6;
    padding: 10px 1rem;
    border-radius: 10px;
    margin-left: 9.2rem;
}

.resume_add_button_plus3 {
    border:none;
    font-weight:bold;
    background:#A6A6A6;
    padding: 10px 1rem;
    border-radius: 10px;
    margin-left: 0.4rem;
}

.resume_add_button_plus4 {
    border:none;
    font-weight:bold;
    background:#A6A6A6;
    padding: 10px 1rem;
    border-radius: 10px;
    margin-left: 6.8rem;
}

.resume_line_css {
    width: 85rem;
}

.self_margin {
    height: 2rem;
    background:#ffffff;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 이력서 부가요소들 */

.out_play_css1 {
    margin-left: 4.8rem;
}

.out_play_css2 {
    margin-left: 4rem;
}

.out_play_css3 {
    margin-left: 4.8rem;
}

.out_play_css4 {
    margin-left: 4.8rem;
}

.prize_play_css1 {
    margin-left: 4.8rem;
}

.prize_play_css2 {
    margin-left: 2.3rem;
}

.prize_play_css3 {
    margin-left: 4.7rem;
}

.prize_play_css4 {
    margin-left: 6.4rem;
}

.port_polio_css1 {
    margin-left: 4.8rem;
}

.self_introduce_css1 {
    margin-left: 8rem;
}

.self_introduce_css2 {
    margin-left: 8.5rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.gamjang_css {
    margin-left: 4.8rem;
}

.gamjang_time1_css {
    margin-left: 6.4rem;
}

input[id="gamjang1"]:checked + label + div {max-height:10rem;}

input[id="gamjang1"]:checked + label div {color:#FF0000;}

input[id="gamjang1"]:checked + label + div + div {max-height:0px; overflow:hidden;}

input[id="gamjang1"]:checked + label + div + div + p + div {max-height:0px; overflow:hidden;}

input[id="gamjang1"]:checked + label + div + div + p + div + p + div {max-height:0px; overflow:hidden;}

.gamjang_1 {
    max-height:0;
    overflow:hidden;
}

input[id="gamjang2"]:checked + label + div {max-height:10rem;}

input[id="gamjang2"]:checked + label div {color:#FF0000;}

input[id="gamjang2"]:checked + label + div + div {max-height:0px; overflow:hidden;}

input[id="gamjang2"]:checked + label + div + div + p + div {max-height:0px; overflow:hidden;}

input[id="gamjang2"]:checked + label + div + div + p + div + p + div {max-height:0px; overflow:hidden;}

.gamjang_2 {
    max-height:0;
    overflow:hidden;
}

input[id="gamjang3"]:checked + label + div {max-height:10rem;}

input[id="gamjang3"]:checked + label div {color:#FF0000;}

input[id="gamjang3"]:checked + label + div + div {max-height:0px; overflow:hidden;}

input[id="gamjang3"]:checked + label + div + div + p + div {max-height:0px; overflow:hidden;}

input[id="gamjang3"]:checked + label + div + div + p + div + p + div {max-height:0px; overflow:hidden;}

input[id="gamjang3"]:checked + label + div + div + p + div + p + div + p + div {max-height:0px; overflow:hidden;}

.gamjang_3 {
    max-height:0;
    overflow:hidden;
}