* {
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    width: 85rem;
    margin:auto;
    background:#FFFFFF;
    border-radius:3px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.1);
    font-size:25px;
}

.content2 {
    width: 85rem;
    margin:auto;
    background:#FFFFFF;
    border-radius:3px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.1);
    font-size:20px;
}

.basic_title {
    width:85rem;
    margin:auto;
    background:#FFFFFF;
    font-size:30px;
}

.basic_list {
    width:85rem;
    margin:auto;
    background:#FFFFFF;
    border-radius:3px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.1);
    font-size:30px;
}

.amount {
    display:flex;
    background:#FFFFFF;
    border-radius:3px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.1);
    width:85rem;
    margin: auto;
}

.amount > li {
    flex:1;
    list-style: none;
    height:10rem;
}

.amount > li > div {
    text-align:center;
    margin-top:20px;
}

.amount > li:not(:last-child) > div{
    border-right:1px solid gray;
}

.update_btn {
	margin-left:auto;
}

.btn_color {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 1px 1px inset;
}
.btn_color2 {
    color: rgba(255, 0, 0, 0.6);
    box-shadow: rgba(255, 0, 0, 0.4) 0 0px 1px 1px inset;
    padding:0.0005rem 0.5rem;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.amount_title_css {
    color:#A6A6A6;
    font-size:15px;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.date_css {
    font-size:15px;
    color:#FF0000;
}

.field_css {
    font-size:20px;
    color:#A6A6A6;
}

.information_css {
    font-size:20px;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 5px 1px inset;
    border-radius: 10px;
}

.bar {
    position:relative;
    top:-3px;
    font-size:15px;
    color:#E4E4E4;
}

.mini_div {
    font-size:16px;
}

.img_div {
    display:flex;
    font-size:16px;
}

.career_active_position_css {
    position:relative;
    top:-1.5rem;
    margin-left:4.25rem;
}

.content_title {
    display:flex;
    width: 85rem;
    margin:auto;
    font-size:20px;
}

.main_name {
    font-weight:bold;
}

.resume_detail_button_css {
    border:none;
    color: rgba(255, 0, 0, 0.6);
    box-shadow: rgba(255, 0, 0, 0.4) 0 0px 1px 1px inset;
    padding:0.0005rem 0.5rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* side_bar */

.side_bar {
    position:fixed;
    top:6.7rem;
    margin-left:95.5rem;
    width:10rem;
    height:10rem;
    background:#A6A6A6;
    text-align:center;
}
