* {
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    width: 85rem;
    margin-left: 6.5rem;
    font-size:30px;
    font-weight:bold;
    background:#F6F6F6;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.self_border_img {
    
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* hide bar */

.select_position {
    max-height:0;
    overflow:hidden;
    color:#FF0000;
    font-size:11px;
}

input[id="answer04"]:checked + label + div {max-height:1000px;}