.wrap {
	position: absolute;
	top: 130px;
}

.wrap a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	margin: 20px auto;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

.wrap a.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.wrap a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.resume_title {
    position: absolute;
    top: 200px;
}

.title_css {
    position: relative;
    left: 2.5%;
}

.school_name {
    position: absolute;
    top: 260px;
}

.school_css {
    position: relative;
    left: 12.5%;
}

.field_name {
    position: absolute;
    top: 320px;
}

.field_css {
    position: relative;
    left: 40%;
}

.time_data {
    position: absolute;
    top: 380px;
}

.time1_css {
    position: relative;
    left: 9.5%;
}

.time2_css {
    position: relative;
    left: 10%;
}

.time3_css {
    position: relative;
    left: 10.5%;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.high_major {
    position: absolute;
    top: 440px;
}

.high_major_css {
    position: fixed;
    left: 20%;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.university_resume_title {
    position: absolute;
    top: 200px;
}

.university_school_year {
    position: absolute;
    top: 260px;
}

.university_school_name {
    position: absolute;
    top: 320px;
}

.university_field_name {
    position: absolute;
    top: 380px;
}

.university_time_data {
    position: absolute;
    top: 460px;
}

.university_major_data {
    position: absolute;
    top: 520px;
}

.university_major_data_detail {
    position: absolute;
    top: 580px;
}

.university_week {
    position: absolute;
    top: 640px;
}

.university_score {
    position: absolute;
    top: 700px;
}

.university_final_test {
    position: absolute;
    top: 760px;
}

.university_year_css {
    position: relative;
    left: 40%;
}

.university_major_css {
    position: relative;
    left: 40%;
}

.university_major_detail_css {
    position: relative;
    left: 8%;
}

.university_week_css {
    position: relative;
    left: 22.5%;
}

.university_score_css {
    position: relative;
    left: 17.5%;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.submit_button {
    position: absolute;
    top: 880px;
    left: 40%;
}

.content {
    color:#FF0000;
    background:#FFFFFF;
    background-color: rgb(245, 130, 130);
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.major_button_plus {
    position: absolute;
    top: 820px;
    left: 40%;
}