* {
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    width:85rem;
    margin:auto;
}

.content > ul {
    display:flex;
    list-style:none;
    margin-left:-3rem;
}

.search_result_title {
    font-size:1.5rem;
}

.search_content {
    width:85rem;
    height:100%;
    margin:auto;
    border-radius:5px;
    background:#F6F6F6;
}

.mini_content {
    display:flex;
    list-style:none;
}

.mini_content > li:not(:first-child) {
    margin-left:2rem;
}

.mini_content > li(:end-child) {
    margin-left:auto;
    background:#00FF00;
}

.major_button_plus {
    border:none;
    font-weight:bold;
    background:#E4E4E4;
    padding: 0.5rem 1rem;
    margin-left:1rem;
}

.date_css {
    margin-left:auto;
    width:10rem;
    background:#FF0000;
}

.content > ul > li > label:not(:last-child) {
    border-right:1px solid gray;
}

.information_css {
    color:rgba(255, 0, 0, 0.6);
    border:1px solid red;
    padding:0.1rem 0.5rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 로그인 css */

.login_content {
    position:relative;
    margin-left:28rem;
    display:flex;
    width:15rem;
    height:12.5rem;
    border-radius:5px;
    background:#E1E1E1;
    margin-right:auto;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 이미지 */

.search_img1{
    position:relative;
    top:10rem;
    margin-left:50rem;
}

.search_img2{
    position:absolute;
    top:10rem;
    margin-left:57rem;
}

.search_img3{
    position:absolute;
    top:12.5rem;
}
/* 혹시나 해서 남겨둔 이미지들<div class="search_img1">
                        <i style="font-size:1rem;" class="material-icons">flutter_dash</i>
                    </div>
                    <div class="search_img2">
                        <img src="{% static 'search/workplace.png' %}" width="200" height="200">
                    </div>
                    <div class="search_img3">
                        <img src="{% static 'search/mail-people.jpg' %}" width="150" height="150">
                    </div> */
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 지역 선택 */

.field_btn1 {
    opacity:0;
}

.field_btn2 {
    cursor:pointer;
}

.position_btn1 {
    opacity:0;
}

.exit_css {
    position:absolute;
    max-height:0;
    overflow:hidden;
    margin-top:-2.6rem;
    margin-left:19rem;
}

.position_btn3 {
    cursor:pointer;
    border:none;
    font-weight:bold;
    font-size:25px;
    color:#FF0000;
}

.self_border_img {
    border-style:solid;
    border-width:0.1px;
    padding:0rem 10rem 0rem 0rem;
    color:Gray;
    border-color:#D4D4D4;
    font-size:1.6rem;
}

.work_field1 {
    max-height:0;
    margin-top:0.7rem;
    width:200px;
    overflow:hidden;
    color:#FF0000;
    background:#FFFFFF;
    font-size:20px;
}

input[id="answer04"]:checked + label + div + div {
    max-height:300px;
    overflow:scroll;
}

input[id="answer04"]:checked + label + div {
    max-height:100px;
}

.work_field2 {
    max-height:0;
    overflow:hidden;
    color:#FF0000;
    background:#FFFFFF;
}

.test_field3 {
    max-height:0;
    overflow:hidden;
}

input[id="answer04"]:checked + label + div + div input[id="answer04_01"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_02"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:hidden;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_03"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_04"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_05"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_06"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_07"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_08"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_09"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_10"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_11"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_12"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_13"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_14"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_15"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_16"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_17"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:hidden;
    overflow:scroll;
    font-size:20px;
}
input[id="answer04"]:checked + label + div + div input[id="answer04_18"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:12.5rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 직업 선택 css */

.field_btn3 {
    opacity:0;
}

.button_field2 {
    top:-8.25rem;
    margin-left:41rem;
}

.work_field3 {
    max-height:0;
    margin-top:0.7rem;
    margin-left:-28.65rem;
    width:400px;
    overflow:hidden;
    color:#FF0000;
    background:#FFFFFF;
    font-size:20px;
}

/* input[id="answer05"]:checked + label + div + div 같은 서열안에서의 마지막 div를 가리킴 */
/* input[id="answer05"]:checked + label + div div 라벨 다음의 div의 자식 div를 가리킴 */
input[id="answer05"]:checked + label + div + div {
    max-height:300px;
    overflow:scroll;
}

input[id="answer05"]:checked + label + div {
    max-height:100px;
}

.work_field4 {
    max-height:0;
    overflow:hidden;
    color:#FF0000;
    background:#FFFFFF;
}

input[id="answer05"]:checked + label + div + div input[id="answer05_01"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_02"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_03"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_04"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_05"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_06"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_07"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_08"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_09"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_10"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_11"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_12"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}
input[id="answer05"]:checked + label + div + div input[id="answer05_13"]:checked + label + div {
    position:absolute;
    top:11.5rem;
    margin-left:25rem;
    max-height:300px;
    height:300px;
    width:800px;
    overflow:scroll;
    font-size:20px;
}