
.test {
    opacity:0;
}
.test2 {
    color:#000000;
    cursor:pointer;
}
.testing {
    position: absolute;
    top: 300px;
    left: 15%;
    max-height:0;
    overflow:hidden;
    color:#FF0000;
    background:#FFFFFF;
    font-size:11px;
}

.title_position_detail {
    position: static;
    top: 500px;
    left: 15%;
}
.title_position_detail2 {
    position: static;
    top: 600px;
    left: 15%;
}

input[id*="answer"]:checked + label + div {max-height:1000px;}

table {
    margin: auto;
    text-align: center;
}
