.answer04_0023_2 {
    opacity:0;
}
.answer04_0023_2_label{
    width: 200px;
    height: 50px;
    background:#D5D5D5;
}

.test {
    opacity:0;
}
.test2 {
    display: block;
    width: 200px;
    height: 50px;
    color:#000000;
    background:#D5D5D5;
    cursor:pointer;
}
.testing {
    position: absolute;
    top: 300px;
    left: 15%;
    max-height:0;
    overflow:hidden;
    color:#FF0000;
    background:#FFFFFF;
    font-size:11px;
}

.title_position_detail {
    position: static;
    top: 500px;
    left: 15%;
}
.title_position_detail2 {
    position: static;
    top: 600px;
    left: 15%;
}

input[id*="answer"]:checked + label + div {max-height:1000px;}

table {
    margin: auto;
    text-align: center;
}


.radio_testing2 {
    position: absolute;
    top: 300px;
    left: 15%;
    max-height:0;
    overflow:hidden;
    color:#FF0000;
    background:#FFFFFF;
    font-size:11px;
}
input[id="radio_test3"]:checked + span {max-height:1000px;}

