
.test {
    display:block;
    padding:20px;
    border:1px solid #232188;
    color:#000000;
    background:#3634a5;
    cursor:pointer;
    position:relative;
}
.testing {
    position: absolute;
    top: 300px;
    left: 15%;
    max-height:0;
    overflow:hidden;
    color:#FF0000;
    background:#5CD1E5;
    font-size:11px;
}

.title_position_detail {
    position: static;
    top: 500px;
    left: 15%;
}
.title_position_detail2 {
    position: static;
    top: 600px;
    left: 15%;
}

input[id*="answer"]:checked + label + div {max-height:1000px;}
