* {
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    width: 85rem;
    margin-left: 6.5rem;
    font-size:30px;
    background:#F6F6F6;
}

.content input {
    border:none;
    background:#D5D5D5;
    border-radius:5px;
}

.content select {
    border:none;
    background:#D5D5D5;
    border-radius:5px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.wrap {
	line-height: 66px;
	margin-left: 6.5rem;
}

.wrap a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 7.25rem;
}

.wrap a.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.wrap a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.major_plus_button {
    position: relative;
    top: 365px;
    margin-left: 545px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 전체적인 클래스 css */

.title_css {
    margin-left: 30px;
}

.school_css {
    margin-left: 115px;
}

.field_css {
    margin-left: 152px;
}

.time1_css {
    margin-left: 78px;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 고등학교 클래스 css */

.high_major_css {
    margin-left: 67px;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* 대학 클래스 css */

.university_year_css {
    margin-left: 152px;
}

.university_major_css {
    margin-left: 151px;
}

.university_major_detail_css {
    margin-left: 76px;
}

.university_week_css {
    margin-left: 97px;
}

.university_score_css {
    margin-left: 149px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.submit_button {
    text-align:center;
}

.resume_add {
    position: fixed;
    top: 200px;
    margin-left: 1345px;
    width:300px;
    height:400px;
    background:#ebf8ff;
    border-radius: 10px;
}

.resume_line_css {
    width: 85rem;
}
