{% extends 'base2.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resume_detail.css' %}">
    <div class="content_title">
        이력서
        {{ request.user.pk }}
    </div>
    <p></p>
    <div class="basic_list">
        &nbsp;&nbsp;{{ resume.resume_title_detail }}
        <p></p>
        <div class="mini_div">
            &nbsp;&nbsp;홍길동 남 1999년 25세
            <p></p>
            &nbsp;&nbsp;전화번호 | 010-9654-2345 &emsp; Email | mgsie@naver.com
            <p></p>
            &nbsp;&nbsp;휴대폰 | 010-4561-7980
        </div>
        <p></p>
    </div>
    <div class="base_line_css">
        <hr>
    </div>
    <ul class="amount">
        <li>
            <div>
                <div class="amount_title_css">
                    학력
                </div>
                <div>
                    {% if school1 %}
                        {% for school in school1 %}
                            {{ school.elementary_school_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school2 %}
                        {% for school in school2 %}
                            {{ school.middle_school_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school3 %}
                        {% for school in school3 %}
                            {{ school.high_school_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school4 %}
                        {% for school in school4 %}
                            {{ school.university_school_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school %}
                        -
                    {% endif %}
                </div>
                <div>
                    {% if school1 %}
                        {% for school in school1 %}
                            {{ school.elementary_field_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school2 %}
                        {% for school in school2 %}
                            {{ school.middle_field_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school3 %}
                        {% for school in school3 %}
                            {{ school.high_field_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school4 %}
                        {% for school in school4 %}
                            {{ school.university_field_name }}
                        {% endfor %}
                    {% endif %}
                    {% if school %}
                        -
                    {% endif %}
                </div>
                <div>
                    {% if school1 %}
                        -
                    {% endif %}
                    {% if school2 %}
                        -
                    {% endif %}
                    {% if school3 %}
                        -
                    {% endif %}
                    {% if school4 %}
                        {% for school in school4 %}
                            {{ school.university_study_level }} / 4.5
                        {% endfor %}
                    {% endif %}
                    {% if school %}
                        -
                    {% endif %}
                </div>
            </div>
        </li>
        <li>
            <div>
                <div class="amount_title_css">경력</div>
                <div>
                    {% if none_resume_career %}
                        -
                    {% else %}
                        {% for resume_career_list in resume_career %}
                            {{ resume_career_list.resume_company_name }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {% if none_resume_career %}
                        -
                    {% else %}
                        {% for resume_career_list in resume_career %}
                            {{ resume_career_list.resume_career_position_detail }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    -
                </div>
            </div>
        </li>
        <li>
            <div>
                <div class="amount_title_css">희망 근무 조건</div>
                <div>
                    {% if none_resume_hope_work %}
                        -
                    {% else %}
                        {% for resume_hope_work_list in resume_hope_work %}
                            {{ resume_hope_work_list.resume_hope_work_start_time }}
                            {{ resume_hope_work_list.resume_hope_end_time }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {% if none_resume_hope_work %}
                        -
                    {% else %}
                        {% for resume_hope_work_list in resume_hope_work %}
                            {{ resume_hope_work_list.resume_hope_work_money }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    -
                </div>
            </div>
        </li>
    </ul>
    <p></p>
    {% if school1 %}
        <div class="content_title">
            학력
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_resume2_update' school=1 school_major4=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_school_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            <p></p>
            {% for school in school1 %}
                <p></p>
                &nbsp;&nbsp;{{ school.elementary_school_name }}<span class="field_css">({{ school.elementary_field_name }})</span> <span class="date_css">{{ school.elementary_start_time }} ~ {{ school.elementary_end_time }}</span>
            {% endfor %}
        </div>
    {% endif %}
    {% if school2 %}
        <div class="content_title">
            학력
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_resume2_update' school=1 school_major4=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_school_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% for school in school2 %}
                <p></p>
                &nbsp;&nbsp;{{ school.middle_school_name }}<span class="field_css">({{ school.middle_field_name }})</span> <span class="date_css">{{ school.middle_start_time }} ~ {{ school.middle_end_time }}</span>
            {% endfor %}
        </div>
    {% endif %}
    {% if school3 %}
        <div class="content_title">
            학력
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_resume2_update' school=1 school_major4=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_school_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% for school in school3 %}
                <p></p>
                &nbsp;&nbsp;{{ school.high_school_name }}<span class="field_css">({{ school.high_field_name }})</span> <span class="date_css">{{ school.high_start_time }} ~ {{ school.high_end_time }}</span>
                <p></p>
                <div class="mini_div">
                &nbsp;&nbsp;전공 계열 : {{ school.high_major }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if school4 %}
        <div class="content_title">
            학력
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_resume2_update' school=1 school_major4=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_school_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% for school in school4 %}
            <p></p>
            &nbsp;&nbsp;{{ school.university_school_name }}<span class="field_css">({{ school.university_field_name }})</span> <span class="date_css">{{ school.university_start_time }} ~ {{ school.university_end_time }}</span> <span class="bar">|</span> <span class="field_css">{{ school.university_study_year }}</span> <span class="bar">|</span> <span class="field_css">{{ school.university_study_time }}</span>
            <p></p>
            <div class="mini_div">
                {% for major_list in major %}
                    <p></p>
                    &nbsp;&nbsp;전공 계열 : {{ major_list.resume_university_major_list }}
                    <p></p>
                    &nbsp;&nbsp;학과 : {{ major_list.resume_university_major_detail }}
                {% endfor %}
                <p></p>
                &nbsp;&nbsp;학점 : {{ school.university_study_level }} / 4.5
                <p></p>
                &nbsp;&nbsp;논문/졸업작품 : {{ school.university_finaltest }}
            </div>
        {% endfor %}
        <p></p>
        </div>
    {% endif %}
    {% if resume_career %}
        <p></p>
        <div class="content_title">
            경력
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_resume4_update' company_ability=1 company_project=0 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_career_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            <p></p>
            {% for resume_career_list in resume_career %}
                <p></p>
                &nbsp;&nbsp;{{ resume_career_list.resume_company_name }} <span class="date_css">{{ resume_career_list.resume_career_start_time }} ~ {{ resume_career_list.resume_career_end_time }}</span> <span class="bar">|</span> <span class="field_css">{{ resume_career_list.resume_career_position_detail }}</span> <span class="bar">|</span> <span class="field_css">{{ resume_career_list.resume_career_position }}</span>
                <p></p>
                <div class="mini_div">
                    &nbsp;&nbsp;담당업무 : {{ resume_career_list.resume_career_position_detail2 }}
                    <p></p>
                    &nbsp;&nbsp;연봉 : {{ resume_career_list.resume_career_money }}{{ resume_career_list.resume_career_money_detail }}
                    <p></p>
                    &nbsp;&nbsp;핵심역량
                    <div class="career_active_position_css">
                        <ul>
                        {% for resume_career_ability_list in resume_career_ability %}
                            <li> {{ resume_career_ability_list.resume_career_ability_text }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% for resume_career_project_list in resume_career_project %}
                        <p></p>
                        &nbsp;&nbsp;프로젝트 : {{ resume_career_project_list.resume_career_project_text }} <span class="date_css">{{ resume_career_project_list.resume_career_project_start_time }} ~ {{ resume_career_project_list.resume_career_project_end_time }}</span>
                        <p></p>
                        &nbsp;&nbsp;세부사항 : {{ resume_career_project_list.resume_career_project_text_detail }}
                    {% endfor %}
                </div>
            {% endfor %}
            <p></p>
        </div>
    {% endif %}
    {% if out_play %}
        <p></p>
        <div class="content_title">
            대외활동
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_out_play_update' out_play=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_out_play_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% for out_play_list in out_play %}
                <p></p>
                &nbsp;&nbsp;{{ out_play_list.resume_out_place }} <span class="date_css">{{ out_play_list.resume_out_start_play }} ~ {{ out_play_list.resume_out_end_play }}</span> <span class="information_css">&nbsp;{{ out_play_list.resume_out_activity }}&nbsp;</span>
                <p></p>
                <div class="mini_div"><ul><li>{{ out_play_list.resume_out_play_text }}</li></ul></div>
            {% endfor %}
        </div>
    {% endif %}
    {% if prize_play %}
        <p></p>
        <div class="content_title">
            자격증
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_prize_play_update' prize_play=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_prize_play_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% for prize_play_list in prize_play %}
                <p></p>
                &nbsp;&nbsp;{{ prize_play_list.resume_prize_certificate }}<span class="field_css">({{ prize_play_list.resume_prize_title }})</span> <span class="date_css">{{ prize_play_list.resume_prize_date }}</span> <span class="information_css">&nbsp;{{ prize_play_list.resume_prize_place }}&nbsp;</span>
            {% endfor %}
        </div>
    {% endif %}
    {% if port_polio %}
        <p></p>
        <div class="content_title">
            포트폴리오
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_port_polio_update' port_polio=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_port_polio_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% for port_polio_list in port_polio %}
                <p></p>
                <span class="mini_div">&nbsp;활동구분 <span class="bar">|</span> <a href="/media/{{ port_polio_list.resume_port_polio_detail }}" download>{{ port_polio_list.resume_port_polio_detail }}</a></span>
            {% endfor %}
        </div>
    {% endif %}
    {% if self_introduce %}
        <p></p>
        <div class="content_title">
            자기소개서
            {% if request.user.pk == pk %}
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_self_introduce_update' self_introduce=1 title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_self_introduce_del">
                    </span>
                </form>
            {% endif %}
        </div>
        <div class="content">
            {% for self_introduce_list in self_introduce %}
                <p></p>
                &nbsp;&nbsp;<span class="main_name">{{ self_introduce_list.resume_self_introduce_title }}</span>
                <p></p>
                <div class="mini_div">
                    <ul><li>{{ self_introduce_list.resume_self_introduce_text }}</li></ul>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if resume_hope_work %}
        <div class="base_line_css">
            <hr>
        </div>
        {% if request.user.pk == pk %}
            <div class="content_title">
                희망 조건
                <span class="update_btn">
                    <a href="{% url 'resumeapp:resume_resume5_update' title=title pk=pk %}" class="btn_color">
                        &nbsp;수정하기&nbsp;
                    </a>
                </span> &nbsp;
                <form action="{% url 'resumeapp:detail_resume' title=title %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="update_btn">
                        <input type="submit" value="삭제하기" class="resume_detail_button_css" name="resume_hope_work_del">
                    </span>
                </form>
            </div>
        {% endif %}
        <div class="content">
            <p></p>
            <div class="mini_div">
                &nbsp;&nbsp;즉시 근무 가능
                <p></p>
                &nbsp;&nbsp;희망 연봉 : 100만원 ~ 200만원
                <p></p>
                &nbsp;&nbsp;희망 지역 :
                {% for resume_hope_work_field_list in resume_hope_work_field %}
                    &nbsp;&nbsp;# {{ resume_hope_work_field_list.resume_hope_work_field1 }}
                {% endfor %}
                <p></p>
                &nbsp;&nbsp;희망 직업 :
                {% for resume_hope_work_work_list in resume_hope_work_work %}
                    &nbsp;&nbsp;# {{ resume_hope_work_work_list.resume_hope_work_work1 }}
                {% endfor %}
            </div>
            <p></p>
        </div>
    {% endif %}
{% endblock %}