{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resume2.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/resume_resume2.css' %}">-->

    <div class="resume_add">
        <div class="resume_add_title">
            이력서 추가사항
        </div>
        <hr>
        <form action="{% url 'resumeapp:resume_port_polio_update' port_polio=port_polio title=title pk=pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            대외활동
            <input type="submit" name="out_play_button" value="추가" class="resume_add_button_plus1">
        </form>
        <p></p>
        <form action="{% url 'resumeapp:resume_port_polio_update' port_polio=port_polio title=title pk=pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            자격증
            <input type="submit" name="prize_play_button" value="추가" class="resume_add_button_plus2">
        </form>
        <p></p>
        <form action="{% url 'resumeapp:resume_port_polio_update' port_polio=port_polio title=title pk=pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            포트폴리오 및 기타문서
            <input type="submit" name="port_polio_button" value="추가" class="resume_add_button_plus3">
        </form>
        <p></p>
        <form action="{% url 'resumeapp:resume_port_polio_update' port_polio=port_polio title=title pk=pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            자기소개서
            <input type="submit" name="self_introduce_button" value="추가" class="resume_add_button_plus4">
        </form>
    </div>

    <form action="{% url 'resumeapp:resume_port_polio_update' port_polio=port_polio title=title pk=pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content">
            <!--  전공은 왜 바로 나오고 이거는 늦게 나오는지 알아보기 -->
            {% for list4 in temp_port_polio %}
                <hr>
                    <div>
                        포트폴리오 및 기타문서
                        <p></p>
                        활동구분
                        <input type="file" name="port_polio1{{list4.0}}" style="width:800px;height:50px;" class="port_polio_css1">
                        <p></p>
                        포트폴리오추가
                        <input type="button" name="port_polio_add" value="추가" style="width:800px;height:50px;">
                    </div>
            {% endfor %}
        </div>
        <p></p>
        <div class="submit_button">
            <input type="submit" value="수정완료" class="major_button_plus" name="resume_submit1">
        </div>
    </form>
{% endblock %}