<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        label[for="chkbox"]{
            display:none;
        }
        input[id="chkbox"]:checked + label{
            display:inline;
        }
    </style>
</head>
<body>
    <div>
        {% for list1 in test_list1 %}
            <input type="text" name="school1{{list1.0}}">
            <p></p>
        {% endfor %}
        <form action="{% url 'resumeapp:test_resume' test1=test1 test2=test2 pk=pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" name="button_test1" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
        {% for list2 in test_list2 %}
            <input type="text" name="school2{{list2.0}}">
            <p></p>
        {% endfor %}
        <form action="{% url 'resumeapp:test_resume' test1=test1 test2=test2 pk=pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" name="button_test2" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
    </div>
</body>
</html>