<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/test_test2.css' %}">
</head>
<body>
    <div class="accordion">
        <input type="radio" name="accordion" id="answer04" class="test">
        <label for="answer04" class="test">컨텐츠 제목 부분4</label>
        <div class="testing">
            <h1>
                직급(직책) 선택
            </h1>
            <table border="1">
                <tr>
                    <td style="border-left:none; border-top:none; border-bottom:none;"></td>
                    <td style="border-right: none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_001">
                        <label for="answer04_001">인턴/수습</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_002">
                        <label for="answer04_002">사원</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_003">
                        <label for="answer04_003">주임</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_004">
                        <label for="answer04_004">계장</label>
                    </td>
                </tr>
                <tr>
                    <td style="border-left:none; border-top:none; border-bottom:none;"></td>
                    <td style="border-right: none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_005">
                        <label for="answer04_005">대리</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_006">
                        <label for="answer04_006">과장</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_008">
                        <label for="answer04_008">차장</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_009">
                        <label for="answer04_009">부장</label>
                    </td>
                </tr>
                <tr>
                    <td style="border-left:none; border-top:none; border-bottom:none;">
                        직급
                    </td>
                    <td style="border-right: none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0010">
                        <label for="answer04_0010">감사</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0011">
                        <label for="answer04_0011">이사</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0012">
                        <label for="answer04_0012">상무</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0013">
                        <label for="answer04_0013">전무</label>
                    </td>
                </tr>
                <tr>
                    <td style="border-left:none; border-top:none; border-bottom:none;"></td>
                    <td style="border-right: none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0014">
                        <label for="answer04_0014">부사장</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0015">
                        <label for="answer04_0015">사장</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0016">
                        <label for="answer04_0016">임원</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0017">
                        <label for="answer04_0017">연구원</label>
                    </td>
                </tr>
                <tr>
                    <td style="border-left:none; border-top:none; border-bottom:none;"></td>
                    <td style="border-right: none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0018">
                        <label for="answer04_0018">주임연구원</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0019">
                        <label for="answer04_0019">선임연구원</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0020">
                        <label for="answer04_0020">책임연구원</label>
                    </td>
                    <td style="border-right: none; border-left:none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0021">
                        <label for="answer04_0021">수석연구원</label>
                    </td>
                </tr>
                <tr>
                    <td style="border-left:none; border-top:none; border-bottom:none;"></td>
                    <td style="border-right: none; border-top:none; border-bottom:none;">
                        <input type="radio" name="accordion" id="answer04_0022">
                        <label for="answer04_0022">연구소장</label>
                    </td>
                </tr>
            </table>

            <p></p>
            <p></p>
            <p></p><p></p>

            <div class="title_position_detail">
                <input type="radio" name="accordion" id="answer04_01">
                <label for="answer04_01">인턴/수습</label>
                <input type="radio" name="accordion" id="answer04_02">
                <label for="answer04_02">사원</label>
                <input type="radio" name="accordion" id="answer04_03">
                <label for="answer04_03">주임</label>
                <input type="radio" name="accordion" id="answer04_04">
                <label for="answer04_04">계장</label>
                <input type="radio" name="accordion" id="answer04_05">
                <label for="answer04_05">대리</label>
            </div>
            <div class="title_position_detail2">
                <input type="radio" name="accordion" id="answer04_101">
                <label for="answer04_101">팀원</label>
                <input type="radio" name="accordion" id="answer04_102">
                <label for="answer04_102">팀장</label>
                <input type="radio" name="accordion" id="answer04_103">
                <label for="answer04_103">실장</label>
                <input type="radio" name="accordion" id="answer04_104">
                <label for="answer04_104">총무</label>
                <input type="radio" name="accordion" id="answer04_105">
                <label for="answer04_105">지점장</label>
            </div>
        </div>
    </div>
</body>
</html>