<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script>
    function test() {
            console.log("실행중31341")
            var gender = document.getElementsByName('gender');
            var genderChoice;
            for (var i=0; i<gender.length; i++) {
                if(gender[i].checked) {
                    genderChoice = gender[i].value;
                    console.log("실행중")
                }
            }
    }
    setInterval(test, 1000);
  </script>
</head>
<body>
  남<input type="radio" name="gender" value="남">
  여<input type="radio" name="gender" value="여">
</body>
</html>